@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>To My sample WebApplication page as simple ASP WEB APP.</p>
    <p>This project is for education purpose only.</p>
</div>
